<div class="block btn-block">
  <%= link('/draft/reset', 'New Match', {:class => 'btn'}) %>
  <%= link('/draft', 'Refresh', {:class => 'btn'}) %>
</div>

<%= erb :'elements/error-messages' %>

<%= erb :'draft/header' %>

<div class="draft__container">
  <%= erb :'draft/hero-picker' %>
  <% @structure['teams'].each do |key, team| %>
    <% no_first_pick = !session['draft'] || session['draft']['first_pick'].nil? %>
    <% team_picking = @current_pick['team'] && @current_pick['team'] == key %>
    <div class="draft__team <%= team_picking ? 'first' : '' %>">
      <h3>
        <%= team['name'] %>
        <% if no_first_pick %>
        <small><%= link("/draft/first_pick/#{key}", 'First pick', {:class => 'btn btn-sm'}) %></small>
        <% end %>
      </h3>

      <!-- BANS -->
      <%= erb :'draft/bans', :locals => {'key' => key, 'team' => team} %>

      <!-- PICKS -->
      <%= erb :'draft/picks', :locals => {'key' => key, 'team' => team} %>
    </div>
  <% end %>
</div>

<div class="block">
  <%= @current_pick.inspect %>
  <%= @structure.inspect %>
</div>